# Настройки домена и SSL (для продакшн)
DOMAIN=example.com
ACME_EMAIL=admin@example.com

# Настройки WAX RPC API
WAX_RPC_HOST=https://wax.greymass.com

# Настройки прокси (опционально)
PROXY_HOST=
PROXY_PORT=0
PROXY_NUM_WORKERS=1

# Настройки мониторинга пулов
POOL_MONITOR_DELAY=0.5
DISPLAY_INTERVAL=0.5
DISPLAY_MODE=max

# Настройки приложения
PYTHONUNBUFFERED=1
PYTHONPATH=/app